{% extends 'base.html' %}

{% block content %}
<h1>Edit Transaction</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<form action="{% url 'delete-transaction' form.instance.slug %}" method="post" style="margin-top: 20px;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this transaction? This action cannot be undone.')">Delete Transaction</button>
</form>
{% endblock %}
