{% extends 'base.html' %}

{% block title %}Home - MoneyParce{% endblock %}

{% block content %}
<h1>Welcome to MoneyParce</h1>
<p>This is the homepage! </p>

     <h2>All Transactions</h2>

  {% if transactions %}
    <ul>
      {% for transaction in transactions %}
        <li>
          <strong>{{ transaction.name }}</strong> —
          ${{ transaction.amount }} —
          {{ transaction.category.name }} —
          {{ transaction.date|date:"M d, Y H:i" }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No transactions yet.</p>
  {% endif %}

{% endblock %}