{% extends 'base.html' %}
{% load static %}

{% block title %}Settings - MoneyParce{% endblock %}

{% block content %}
    <div>
        <h2>Settings</h2>
        <div>
            <h3>Account</h3>
            <form action="{% url 'settings_delete' %}" method="post"
            onsubmit="return confirm('Are you sure? This action cannot be undone.');">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger" id="delete_account">Delete Account</button>
            </form>


            <form action="{% url 'reset_data' %}" method="post"
                  style="margin-top: 20px;"
                  onsubmit="return confirm('Are you sure? This action cannot be undone.');">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger" id="reset_data">Reset Data</button>
                </form>
        </div>
    </div>
{% endblock %}