{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoneyParce{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit', 'Food'],
          ['2014', 1000, 400, 200, 143],
          ['2015', 1170, 460, 250, 1345],
          ['2016', 660, 1120, 300, 134],
          ['2017', 1030, 540, 350, 1435]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          backgroundColor: '#F4F4F4',
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li>Logged in as {{ user.username }} (<a href="{% url 'logout' %}">Logout</a>)</li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page stuff can go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Emmanuel Team A, 2340.</p>
    </footer>

</body>
</html>